*{
	margin: 0;
	padding: 0;
}

main{
	width: 100%;
	height: 100vh;
	background-image: radial-gradient(darkorange, brown);
	align-items: center;
	display: grid;
	grid-template-rows: 2fr 1fr 1fr 2fr;
	justify-items: center;
	box-sizing: border-box;
}

li{
	list-style-type: none;
	margin-top: 1%;
}

button{
	width: 25%;
	height: 5vh;
	border-radius: 0.7em;
	margin-top: 2%;
	background-color: green;
	color: yellow;
}

img{
	width: 25%;
	height: 80%;
	border: inset 3px limegreen;
	border-radius: 50%;
}

#instrucao, #figura, #resultado, #placar{
	width: 80%;
	background-color: black;
	border: outset 3px blue;
	border-radius: 0.7em;
	box-sizing: border-box;
}

#instrucao{	
	padding: 2.5%;
	height: 90%;
	text-align: center;
	color: white;
}

#figura{
	height: 90%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#resultado{
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 200%;
}

#placar{
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#res{
	font-family:'ubuntu';
}

#vs{
	text-align: center;
	width: 20%;
	color: white;
	font-size: 500%;
}

.cont{
	width: 30%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 400%;
	border: outset 3px grey;
	border-radius: 0.8em;
	background-color: palegreen;
}